.full-width {
    width: 100%;
    
}
.header-bg {
    padding: 30px 0;
}

.parallax-section {
    position: relative;
    background: url('../assets/movingBackground.jpeg') no-repeat center center;
    background-size: cover;
    min-height: 50vh;
}
.car-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: right 0.1s ease-out;
    width: 600px; /* Tamaño fijo */
    height: auto;
    max-width: none; /* Anula el max-width de img-fluid */
}


body {
    background-image: url('../assets/background.png'); /* Reemplaza con la URL o ruta de tu imagen */
    background-size: cover;  /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    margin: 0;
    color: white;
}


/* BARRA DE NAVEGACIÓN */
@font-face {
    font-family: 'Dharma Punk';
    src: url('../assets/fonts/Dharma Punk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos para el offcanvas */
.offcanvas {
    background-color: #000 !important; /* Fondo negro */
}

/* Estilos para el header del offcanvas */
.offcanvas-header {
    background-color: #000 !important;
    color: #fff !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilizar el logo */
.logo-container {
    flex: 1; /* Hace que el contenedor ocupe el espacio disponible */
    display: flex;
    justify-content: center; /* Centra el logo horizontalmente */
}



/* Estilos para el cuerpo del offcanvas */
.offcanvas .offcanvas-body {
    font-family: 'Dharma Punk', sans-serif;
    color: #fff !important;
    text-align: center;
    font-size: 40px;
    
}

/* Estilos para los enlaces dentro del offcanvas */
.offcanvas .offcanvas-body a {
    font-family: 'Dharma Punk', sans-serif;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.3s ease;
}

.offcanvas .offcanvas-body a:hover {
    color: #ccc !important;
}

/* Estilos específicos para los enlaces con clase .nav-link */
.offcanvas .offcanvas-body .nav-link {
    display: block;
}

/* Estilos para los íconos sociales */
.offcanvas .offcanvas-body .social-icons a {
    color: #fff !important;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.offcanvas .offcanvas-body .social-icons a:hover {
    color: #ccc !important;
    
}

.social-icons {
    font-family: 'Courier New', Courier, monospace;
}

/* Estilos para el botón que contiene la imagen */
.menu-button {
    background: rgba(0, 0, 0, 0.7); /* Gris traslúcido (opacidad 0.5) */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 8px; /* Espacio interno para que la imagen no quede pegada a los bordes */
    cursor: pointer; /* Cursor de mano al pasar el mouse */
}

/* Estilos para la imagen del menú */
.menu-icon {
    width: 100px; /* Ajusta el ancho de la imagen según tu diseño */
    height: auto; /* Mantiene la proporción */
    display: block; /* Asegura que la imagen ocupe todo el espacio del botón */
}